body{
    background-color: #E3DEE5;    
    font-family:"Helvetica Neue", Arial, serif;
    font-weight: 200;    
}
.content-wrapper{
    line-height: 1.4;
    margin: 0 auto;
    max-width: 75%;
    padding: 30px 25px;
}
#header{
    border-top: medium solid #FF6AD5;
    background-color: #000000;
    background-image: url('../images/header.jpg');
    background-position: 30% 50%;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    min-height: 250px;
    padding: 0 20px;
    position: relative;
    text-align: center;
    h1{
        font-size: 4em;
        font-weight: 100; 
        margin: 0px 0;        
    }
    h2{
        font-size: 2em;
        font-weight: 100;            
    }
}
.section-header{
    font-size: 8em;
    margin-top: 0;
    font-weight: 200;
    position: absolute;
    z-index: 3;
    color: #000000;
}
#about{
    margin-top: 6%;
    margin-bottom: 6%;
    h3{
        margin-bottom: 0;
    }
    .content-wrapper{ 
        background-color:rgba(255,106,213, 0.7);
        padding-top: 4%;
        position: relative;
        z-index: 6;
    }
}

#projects{
    background-color: #FF6AD5;

    ul{
        list-style-type: none;
        min-width: 100%;
        margin: 0;
        padding: 0;
        padding-top:6%;
        padding-bottom: 6%;
        clear: both;
        .content-wrapper{
            padding-top: 5%;
            background-color: rgba(227, 222, 229, 0.5);
            position: relative;
            z-index: 6;  
            overflow:auto;                 
            .title{
                margin: 0;
                .company{
                    font-weight: bold;
                    font-size: 21pt;
                }
                .position{
                    margin-left:5px;
                    font-size: 10pt;
                }
            }
            .image{
                float: left;
                margin-top: 1%;
                margin-right: 5%;
                img{
                    margin: 5px
                }
            }
            .description{
                overflow: auto;
                a{
                    font-weight: bold;
                }
            }
        }
    }
}
#skills{
    margin-top: 6%;
    margin-bottom: 6%;
    h3{
        margin-bottom: 0;
    }
    .content-wrapper{       
        background-color:rgba(255,106,213, 0.7);
        padding-top: 4%;
        position: relative;
        z-index: 6;
        overflow: hidden;
        #skills-list{
            list-style: none;
            width: 90%;
            margin: auto;
            li{
                display: none;
                background-color:  rgb(227, 222, 229);
                font-size: 18pt;
                margin: 3%;
                float: left;
            }
            //li:nth-child(5){
              //  clear: both;
            //}
        }
    }

}