body{
    font-family:"Helvetica Neue", Arial, serif;
    font-weight: 200;    
}
.content-wrapper{
    line-height: 1.4;
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 25px;
}
#header{
    border-top: medium solid #B17AD0;
    background-color: #000000;
    background-image: url('../images/header.jpg');
    background-position: 30% 50%;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    min-height: 250px;
    padding: 0 20px;
    position: relative;
    text-align: center;
    h1{
        font-size: 4em;
        font-weight: 100; 
        margin: 0px 0;        
    }
    h2{
        font-size: 2em;
        font-weight: 100;            
    }
}

#about{
    background-color: #E3DEE5;
    h3{
        font-weight: 200;
        margin-bottom: 0;
    }
}

#projects{
    background-color: #B17AD0;
    h3{
        font-size: 1.5em;
    }
    ul{
        list-style-type: none;
    }
    .project{
        min-width: 100%;
        min-height: 100%;
        border-radius: 10px;
        background-color: #E3DEE5;
        margin-bottom: 10px;
        overflow: hidden;
        .wrapper{
            margin: 1%;
        }
        .company{
            font-weight: bold;
                }
        .image{
            width: 35%;
            height: 35%;
            margin: 6px;
            float: left;
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
        .image:nth-child(odd){
            clear:both;
        }
        .description{
            max-width: 100%;
            max-height: 100%;
            overflow: auto;
            p{
                margin-top:0;
            }
        }
    }

}