body{
    font-family:"Helvetica Neue", Arial, serif;
}
.content-wrapper{
    line-height: 1.4;
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 25px;
}
.header{
    min-height: 250px;
    text-align: center;
}